.mainPageContainer {
  display: flex;
  flex-flow: column;
}

@media only screen and (min-width: 1000px) {
  .mainPageContainer {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 'products-list  cart';
  }
}

.menyWrapper {
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-bottom: 80px;
=======
>>>>>>> b7360c7 (feat: Use css modules)
=======
  padding-bottom: 80px;
>>>>>>> 1ec328b (feat: Scrollable cart items (#12))
}

@media only screen and (min-width: 1000px) {
  .menyWrapper {
    display: unset;
  }
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
.menyItemsWrapper {
  height: calc(100vh + 1rem);
}

>>>>>>> b7360c7 (feat: Use css modules)
=======
>>>>>>> 1ec328b (feat: Scrollable cart items (#12))
.menyItems {
  grid-template-columns: 1fr;
  grid-template-areas: 'products-list';
}
@media only screen and (min-width: 1000px) {
  .menyItems {
    grid-area: products-list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-rows: auto;
    margin-top: 1rem;
    overflow-y: auto;
  }
}

.cartWrapper {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .cartWrapper {
    grid-area: cart;
    display: unset;
  }
}

.checkoutButtonSm {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 90%;
  position: fixed;
  bottom: 1em;
  margin: auto;
  left: 40%;
  transform: translate(-40%, 0);
=======
  position: sticky;
  bottom: 0;
>>>>>>> b7360c7 (feat: Use css modules)
=======
  cursor: pointer;
  position: fixed;
  z-index: 8;
  bottom: 1em;
  display: inline-block;
  left: 0;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr auto 1fr;
  border-radius: 0.75em;
  box-sizing: border-box;
  background-color: rgb(236, 94, 0);
  box-shadow: rgba(213, 140, 115, 0.1) 0px 17px 12px -2px;
  padding: 10px;
  right: 18px;
>>>>>>> 1ec328b (feat: Scrollable cart items (#12))
}
@media only screen and (min-width: 1000px) {
  .checkoutButtonSm {
    display: none;
  }
}
