.menyCard {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-template-rows: 60% 40%;
  column-gap: 1rem;
  border-top: 2px solid #ffdbdb;
  grid-template-areas:
    'info  image'
    'info  button';
  padding: 13px;
  justify-content: unset;
}
@media only screen and (min-width: 768px) {
  .menyCard {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
      'info info info info image image'
      'info info info info image image'
      'button button . . image image';
    padding: 13px 13px 0 13px;
    border-top: 2px solid #ffdbdb;
  }
}

.cardImgWrapper {
  grid-area: image;
  align-self: unset;
}

.productImg {
  max-height: 100% !important;
  max-width: 100%;
  float: right;
  object-fit: cover;
  border-radius: 20%;
}

@media only screen and (min-width: 768px) {
  .productImg {
  }

  .cardImgWrapper {
    align-self: center;
  }
}
.cardInfoWrapper {
  grid-area: info;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .cardInfoWrapper {
    text-align: left;
  }
}

.cardInfo {
}

.buttonsWrapper {
  display: flex;
  grid-area: button;
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .buttonsWrapper {
    justify-content: flex-start;
  }
}
