.meny-card {
    padding: 16px;
    border-top: 2px solid #ffdbdb;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
    'info info info info image image'
    'info info info info image image'
    'button button . . image image';
}

@media only screen and (max-width: 768px) {
    .meny-card {
        padding: 8px;
        margin: 8px;
        justify-content: unset;
        grid-template-columns: 1.6fr 1fr;
        grid-template-rows: 60% 40%;
        grid-template-areas:
          'info  image'
          'info  button';

    }
}

.card-img-wrapper {
    grid-area: image;

}

.mcard-img {
    max-height: 100% !important;
    max-width: 100%;
    float: right;
    object-fit: cover;
    border-radius: 50%;
}


@media only screen and (min-width: 768px) {
    .mcard-img {
        max-width: 200px;
    }
}


.card-info-wrapper {
    grid-area: info;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .card-info-wrapper {
        text-align: left;
    }
}


.card-info {

}