.minus-button,
.plus-button {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2%;
<<<<<<< HEAD
<<<<<<< HEAD
  width: 30px;
  height: 35px;
=======
  height: 40px;
  width: 30px;
<<<<<<< HEAD
  padding-top: 5px;
>>>>>>> 8bb6725 (feat: Implemented Cart)
=======
  width: 30px;
  padding-top: 5px;
<<<<<<< HEAD
  height: 40px;
>>>>>>> 2a13422 (fix: Added Actions generator and style fix)
=======
=======
>>>>>>> 1ec328b (feat: Scrollable cart items (#12))
  height: 35px;
>>>>>>> b7360c7 (feat: Use css modules)
  color: white;
  background-color: var(--main-color);
  border: #3d981f;
}

.minus-button {
  padding-left: 9px;
}

.plus-minus-button {
  display: flex;
  align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  border: 1px solid #ccc;
>>>>>>> 8bb6725 (feat: Implemented Cart)
=======
>>>>>>> 2a13422 (fix: Added Actions generator and style fix)
}

.quantity {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
