.minus-button,
.plus-button {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2%;
  width: 30px;
  padding-top: 5px;
  height: 35px;
  color: white;
  background-color: var(--main-color);
  border: #3d981f;
}

.minus-button {
  padding-left: 9px;
}

.plus-minus-button {
  display: flex;
  align-items: center;
}

.quantity {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
