.minusButton,
.plusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10%;
  width: 35px;
  height: 35px;
  color: white;
  background-color: var(--main-color);
  border: none;
}

.plusMinusButton {
  display: flex;
  align-items: center;
}

.quantity {
  margin: 0 1rem;
  font-weight: bold;
}
