
.primary-btn-wrapper{
    grid-area: button;
    justify-self: start;
    align-self: center;
    padding-top: 8px;
    min-width: 108px;
}

@media only screen and (max-width: 768px) {
    .primary-btn-wrapper {
        justify-self: end;
        padding: 0 8px;
        min-width: 108px;
    }
}

.primary-btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    border: var(--main-color);
}

.primary-btn:hover {
    transform: scale(1.05) translateY(3px);
    transition: 0.4s;
}