.btnWrapper {
  justify-self: start;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .btnWrapper {
    justify-self: end;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.05) translateY(3px);
  transition: 0.4s;
}

@media only screen and (max-width: 768px) {
  .btn:hover {
    transform: unset;
    transition: unset;
  }

  .btn:active {
    transform: scale(1.05) translateY(3px);
    transition: 0.4s;
  }
}

.primary {
  background: var(--main-color);
  border: var(--main-color);
  color: #fff;
}

.secondary {
  background: #51585e;
  border: #51585e;
  color: #fff;
}
