:root {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3f8d105 (fix: Added prettier)
  --main-color: orangered;
  --text-color: #fff;
  --background-color: #1e1c1a;
  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
<<<<<<< HEAD
  user-select: none;
}

*::selection {
  background: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  background-size: cover;
}

=======
    --main-color: orangered;
    --text-color: #fff;
    --background-color: #1e1c1a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
=======
>>>>>>> 3f8d105 (fix: Added prettier)
}

*::selection {
  background: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  background-size: cover;
}

<<<<<<< HEAD

>>>>>>> 5eab785 (fix: Added responsive meny style (#1))
=======
>>>>>>> 3f8d105 (fix: Added prettier)
.App {
  text-align: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  position: fixed;
}

.header {
<<<<<<< HEAD
  position: relative;
  height: 12rem;
  z-index: 3;
=======
    position: relative;
    height: 12rem;
    z-index: 3;
>>>>>>> 5eab785 (fix: Added responsive meny style (#1))
=======
  font-family: Sans-serif, serif;
}

.header {
  position: relative;
  height: 12rem;
  z-index: 3;
>>>>>>> 3f8d105 (fix: Added prettier)
}

.header-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo-wrapper {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3f8d105 (fix: Added prettier)
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
<<<<<<< HEAD
}

.logo {
  margin: 20px;
  width: 200px;
}

h3 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.1rem;
  }
=======
    display: flex;
    position: absolute;
    left: 5px;
    top: 5px;
}

.logo {
    margin: 20px;
    width: 150px;
>>>>>>> 5eab785 (fix: Added responsive meny style (#1))
=======
}

.logo {
  margin: 20px;
  width: 150px;
>>>>>>> 3f8d105 (fix: Added prettier)
}

h3 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.1rem;
  }
}
