:root {
  --main-color: orangered;
  --text-color: #fff;
  --background-color: #1e1c1a;
  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}

*::selection {
  background: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  background-size: cover;
}

.App {
  text-align: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  font-family: 'Baloo Bhai 2', cursive;
}

.header {
  position: relative;
  height: 12rem;
  z-index: 3;
}

.header-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo-wrapper {
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
}

.logo {
  margin: 20px;
  width: 200px;
}

h3 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.1rem;
  }
}
